<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .chart-container {
          width: 100%;
          height: auto;
        }
      </style>
    <title>AD-HOC Monitoring System :: Dashboard</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="jumbotron">
        <h3 class="display-7">AD-HOC Monitoring System for Geodetic Sensors </h3>
        <img src="pic.png/" style="display: black; margin-left: auto; margin-right: auto;" />
        <p class="lead">
            This is a project for plotting sensors data in real-time.
        </p>
      </div>
       <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p><h4>Sensor Selection</h4></p>
                        <form>
                            <p>
                                Sensor&nbsp;:&nbsp;<select id="sensor" name="sensor">
                                    <option value="SYLVAC">SYLVAC SENSOR</option>
                                    <option value="DISTO">DISTO SENSOR</option>
                                    <option value="DXL">DXL 360</option>
                                    <option value="GPSNN">GPSNN SENSOR</option>
                                    
                                    
                                    
                                    
                                </select>
                                &nbsp;&nbsp;
                                <input type="button" id="btnSensor" value="select"/>
                                &nbsp;
                                <input type="button" id="btnSensorChange" value="change"/>
                                <input type="checkbox" id="IsInternet" /> Save In CLOUD
                            </p>
                        </form>
                        <hr/>
                        <form>
                            <table width="100%">
                                {% csrf_token %}
                                <tr>
                                    <td>Baudrate</td>
                                    <td><input type="text" id="baudrate"/></td>
                                </tr>
                                <tr>
                                    <td>Bytesize</td>
                                    <td>
                                        <select id="bytesize" name="bytesize">
                                            <option value="5">5 bits</option>
                                            <option value="6">6 bits</option>
                                            <option value="7">7 bits</option>
                                            <option value="8">8 bits</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Parity</td>
                                    <td>
                                        <select id="parity" name="parity">
                                            <option value="0">NONE</option>
                                            <option value="1">ODD</option>
                                            <option value="2">EVEN</option>
                                            <option value="3">MARK</option>
                                            <option value="4">SPACE</option>
                                        </select>
                                    
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>COM</td>
                                    <td><input type="text" id="com"/></td>
                                </tr>  
                                <tr>
                                    <td></td>
                                    <td><input type="button" id="btn" value="submit" />&nbsp;<input type="button" id="deconnect" value="deconnect" /></td>
                                </tr>                                                              
                            </table>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div id="chart-container" class="chart-container">
                                <canvas id="mycanvas"></canvas>
                              </div>
                        </div>
                    </div>
            </div>

       </div> 


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script type="text/JavaScript">
    var sylvacInterval=null;
    var distoInterval=null;
    var gpsnnInterval=null;
    var dxlInterval=null;
            $(document).ready(function(){

            function displaySensor1(){
                            $.get('/api/sensor/1').done(function(data){
                    console.log(data);
                    var dates=[];
                    var values=[];
                    for(var i=0;i<data.length;i++){
                        values.push(data[i].value);
                        dates.push(data[i].date);    
                    }

                    var chartdata={
                        labels:dates,
                        datasets:[
                                {
                                    label:"Sensor 1",
                                    fill: false,
                                    lineTension: 0.1,
                                    backgroundColor: "rgba(29, 202, 255, 0.75)",
                                    borderColor: "rgba(29, 202, 255, 1)",
                                    pointHoverBackgroundColor: "rgba(29, 202, 255, 1)",
                                    pointHoverBorderColor: "rgba(29, 202, 255, 1)",
                                    data: values
                                }
                        ]
                    };
                    var ctx = $("#mycanvas");

                    var LineGraph = new Chart(ctx, {
                        type: 'line',
                        data: chartdata
                    });
                    $('#chart-container').show();

        }).fail(function(data){
                console.log("ERROR");
                console.log(data);
            });

        }

        function displaySensor2(){
                            $.get('/api/sensor/2').done(function(data){
                    console.log(data);
                    var dates=[];
                    var widths=[];
                    var lengths=[];
                    var gpstimes=[];
                    for(var i=0;i<data.length;i++){
                        widths.push(data[i].wide);
                        lengths.push(data[i].lenght);
                        gpstimes.push(data[i].GPStime);
                        dates.push(data[i].date);    
                    }

                    var chartdata={
                        labels:dates,
                        datasets:[
                        {
                                    label:"GPS time",
                                    fill: true,
                                    lineTension: 0.1,
                                    backgroundColor: "rgba(211, 72, 54, 0.75)",
                                    borderColor: "rgba(211, 72, 54, 1)",
                                    pointHoverBackgroundColor: "rgba(211, 72, 54, 1)",
                                    pointHoverBorderColor: "rgba(211, 72, 54, 1)",
                                    data: gpstimes
                                },
                                {
                                    label:"width",
                                    fill: false,
                                    lineTension: 0.1,
                                    backgroundColor: "rgba(59, 89, 152, 0.75)",
                                    borderColor: "rgba(59, 89, 152, 1)",
                                    pointHoverBackgroundColor: "rgba(59, 89, 152, 1)",
                                    pointHoverBorderColor: "rgba(59, 89, 152, 1)",
                                    data: widths
                                },
                                {
                                    label:"length",
                                    fill: false,
                                    lineTension: 0.1,
                                    backgroundColor: "rgba(29, 202, 255, 0.75)",
                                    borderColor: "rgba(29, 202, 255, 1)",
                                    pointHoverBackgroundColor: "rgba(29, 202, 255, 1)",
                                    pointHoverBorderColor: "rgba(29, 202, 255, 1)",
                                    data: lengths
                                }
                             
                        ]
                    };
                    var ctx = $("#mycanvas");

                    var LineGraph = new Chart(ctx, {
                        type: 'line',
                        data: chartdata
                    });
                    $('#chart-container').show();

        }).fail(function(data){
                console.log("ERROR");
                console.log(data);
            });

        }

        function displaySensor3(){
                            $.get('/api/sensor/3').done(function(data){
                    console.log(data);
                    var dates=[];
                    var values=[];
                    for(var i=0;i<data.length;i++){
                        values.push(data[i].value);
                        dates.push(data[i].date);    
                    }

                    var chartdata={
                        labels:dates,
                        datasets:[
                                {
                                    label:"Sensor 3",
                                    fill: false,
                                    lineTension: 0.1,
                                    backgroundColor: "rgba(29, 202, 255, 0.75)",
                                    borderColor: "rgba(29, 202, 255, 1)",
                                    pointHoverBackgroundColor: "rgba(29, 202, 255, 1)",
                                    pointHoverBorderColor: "rgba(29, 202, 255, 1)",
                                    data: values
                                }
                        ]
                    };

                    var ctx = $("#mycanvas");

                    var LineGraph = new Chart(ctx, {
                        type: 'line',
                        data: chartdata
                    });
                    $('#chart-container').show();

        }).fail(function(data){
                console.log("ERROR");
                console.log(data);
            });                        


        }

        function displaySensor4(){
                            $.get('/api/sensor/4').done(function(data){
                    console.log(data);
                    var dates=[];
                    var xs=[];
                    var ys=[];
                    
                    for(var i=0;i<data.length;i++){
                        xs.push(data[i].x);
                        ys.push(data[i].y);
                        dates.push(data[i].date);    
                    }

                    var chartdata={
                        labels:dates,
                        datasets:[
                        {
                                    label:"X",
                                    fill: true,
                                    lineTension: 0.1,
                                    backgroundColor: "rgba(211, 72, 54, 0.75)",
                                    borderColor: "rgba(211, 72, 54, 1)",
                                    pointHoverBackgroundColor: "rgba(211, 72, 54, 1)",
                                    pointHoverBorderColor: "rgba(211, 72, 54, 1)",
                                    data: xs
                                },
                                {
                                    label:"Y",
                                    fill: false,
                                    lineTension: 0.1,
                                    backgroundColor: "rgba(59, 89, 152, 0.75)",
                                    borderColor: "rgba(59, 89, 152, 1)",
                                    pointHoverBackgroundColor: "rgba(59, 89, 152, 1)",
                                    pointHoverBorderColor: "rgba(59, 89, 152, 1)",
                                    data: ys
                                }
                             
                        ]
                    };
                    var ctx = $("#mycanvas");

                    var LineGraph = new Chart(ctx, {
                        type: 'line',
                        data: chartdata
                    });
                    $('#chart-container').show();

        }).fail(function(data){
                console.log("ERROR");
                console.log(data);
            });

        }        

        

                    $('#deconnect').attr("disabled",true);
                    $('#btnSensorChange').attr("disabled",true);
                    $('#com').attr("disabled",true);
                    $('#baudrate').attr("disabled",true);
                    $('#parity').attr("disabled",true);
                    $('#bytesize').attr("disabled",true);


                    $('#deconnect').click(function(){
                        $('#btn').attr("disabled",false);
                        $('#deconnect').attr("disabled",true);
                        var post_data={
                            sensor:$('#sensor').val(), 
                            csrfmiddlewaretoken:$("input[name='csrfmiddlewaretoken']").val()
                        };
                        $.post('/api/deconnect',post_data).done(function(data){
                            console.log(data);

                        }).fail(function(err){
                            console.log(err);
                        });
                        $('#chart-container').hide();
                        clearInterval(sylvacInterval);
                        clearInterval(distoInterval);
                        clearInterval(gpsnnInterval);
                        clearInterval(dxlInterval);
                        var canvas=document.getElementById('mycanvas');

                        const context = canvas.getContext('2d');

                        context.clearRect(canvas.width,canvas.height, canvas.width, canvas.height);
                        location.reload();
                    });


                    $('#btnSensor').click(function(){
                                $('#sensor').attr('disabled',true);
                                $('#btnSensor').attr('disabled',true);
                                $('#btnSensorChange').attr('disabled',false);
                                $('#com').attr("disabled",false);
                                $('#baudrate').attr("disabled",false);
                                $('#parity').attr("disabled",false);
                                $('#bytesize').attr("disabled",false);
                                switch($('#sensor').val()){
                                    case 'TEMP':console.log('Not applicable');   
                                                break;
                                    case 'GPSNN':
                                                
                                                $('#baudrate').val('115200');
                                                $('#parity').val('0');
                                                $('#bytesize').val('8');
                                                break;
                                    case 'DISTO':
                                                
                                                $('#baudrate').val('9600');
                                                $('#parity').val('0');
                                                $('#bytesize').val('8');
                                                break;
                                    case 'SYLVAC':
                                                
                                                $('#baudrate').val('4800');
                                                $('#parity').val('2');
                                                $('#bytesize').val('7');
                                                break;
                                    case 'DXL':
                                                
                                                $('#baudrate').val('4800');
                                                $('#parity').val('0');
                                                $('#bytesize').val('8');
                                                break;

                                    case 'NEVIL':console.log('Not applicable');
                                                break;
                                    default:console.log('Not applicable');
                                            break;
                                }
                    });


                    $('#btnSensorChange').click(function(){
                        $('#sensor').attr('disabled',false);
                        $('#btnSensor').attr('disabled',false);
                        $('#btnSensorChange').attr('disabled',true);
                        $('#com').attr("disabled",true);
                        $('#baudrate').attr("disabled",true);
                        $('#parity').attr("disabled",true);
                        $('#bytesize').attr("disabled",true);
                        $('#com').val(' ');
                        $('#baudrate').val(' ');
                        $('#parity').val(' ');
                        $('#bytesize').val(' ');
                        $('#chart-container').hide();
                    });
                    $('#btn').click(function(){
                                var post_data={
                                    sensor:$('#sensor').val(),
                                    com_port:$('#com').val(),
                                    baudrate:$('#baudrate').val(),
                                    parity:$('#parity').val(),
                                    bytesize:$('#bytesize').val(),
                                    isInternet: $('#isInternet').is(":checked")?1:0,
                                    csrfmiddlewaretoken:$("input[name='csrfmiddlewaretoken']").val()

                                };
                                console.log(post_data);
                                $.post('/api/com/port',post_data).done(function(data){
                                    $('#deconnect').attr("disabled",false);
                                    $('#btn').attr("disabled",true);
                                        console.log('success');
                                        console.log(data);
                                        switch(data.sensor_id){
                                            case "SYLVAC":
                                                        displaySensor3();
                                                        break;
                                            case "DISTO":
                                                        displaySensor1();
                                                        break;
                                            case "GPSNN":
                                                        displaySensor2();        
                                                        break;
                                            case "DXL":
                                                        displaySensor4();
                                                        break;
                                            default: console.log('not available');
                                                        break;
                                        }
                                }).fail(function(err){
                                    console.log('error');
                                    console.log(err);
                                });
                                $('#deconnect').attr("disabled",false);
                                $('#btn').attr("disabled",true);
                                switch($('#sensor').val()){
                                            case "SYLVAC":
                                                        sylvacInterval=setInterval(() => {
                                                            displaySensor3();
                                                        }, 1500);
                                                        break;
                                            case "DISTO":
                                                        distoInterval=setInterval(() => {
                                                            displaySensor1();
                                                        }, 1500);
                                                        break;
                                            case "GPSNN":
                                                        gpsnnInterval= setInterval(() => {
                                                            displaySensor2();        
                                                        }, 1500); 
                                                        break;
                                            case "DXL":
                                                        dxlInterval=setInterval(() => {
                                                            displaySensor4();
                                                        }, 1500);
                                            default: console.log('not available');
                                                        break;
                                }
                    });
            });
    </script>
  </body>
</html>