<!doctype html>
<html lang="en">
  <head>
    <title>GeoDataToolkit :: Sensors</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .chart-container {
          width: 100%;
          height: auto;
        }
        .chart-container2 {
          width: 100%;
          height: auto;
        }
      </style>
  </head>
  <body>
      
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-4">GeoDataToolkit</h1>
                    <p class="lead">
                        Charts for sensors data (From Cloud DB Backup).
                    </p>
                    <hr class="my-4">
                    <a class="btn btn-primary btn-lg" href="/" role="button">Go back to Home Page</a>
                  </div>
            
            </div>
        </div>
        <div class="row">
            <div class="col">
                    <div class="card">
                        DISTO
                        <br/>
                        <div class="chart-container">
                            <canvas id="mycanvas1"></canvas>
                          </div>
                    </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    SYLVAC
                    <br/>
                    <div class="chart-container">
                        <canvas id="mycanvas3"></canvas>
                      </div>
 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    DXL 360
                    <br/>
                    <br/>
                    <div class="chart-container">
                        <canvas id="mycanvas4"></canvas>
                      </div>
                      <br/>
                      <div class="chart-container2">
                        <canvas id="mycanvas4b"></canvas>
                      </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    GPSNN
                    <br/>
                    <div class="chart-container">
                        <canvas id="mycanvas2"></canvas>
                      </div>
                      <br/>
                      <div class="chart-container2">
                        <canvas id="mycanvas2b"></canvas>
                      </div>                    
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        //var $j = jQuery.noConflict();
        
        function RemoteApiSensor1(){
        $.get('/api/local/sensor/1').done(function(data){
                    console.log(data);
                    var dates=[];
                    var values=[];
                    for(var i=0;i<data.length;i++){
                        values.push(data[i].value);
                        dates.push(data[i].date);    
                    }

                    var chartdata={
                        labels:dates,
                        datasets:[
                                {
                                    label:"Sensor 1",
                                    fill: false,
                                    lineTension: 0.1,
                                    backgroundColor: "rgba(29, 202, 255, 0.75)",
                                    borderColor: "rgba(29, 202, 255, 1)",
                                    pointHoverBackgroundColor: "rgba(29, 202, 255, 1)",
                                    pointHoverBorderColor: "rgba(29, 202, 255, 1)",
                                    data: values
                                }
                        ]
                    };
                    var ctx = $("#mycanvas1");

                    var LineGraph = new Chart(ctx, {
                        type: 'line',
                        data: chartdata
                    });

        }).fail(function(data){
                console.log("ERROR");
                console.log(data);
            });
        }

        function RemoteApiSensor2(){
            $.get('/api/local/sensor/2').done(function(data){
                    console.log(data);
                    var dates=[];
                    var widths=[];
                    var lengths=[];
                    var gpstimes=[];
                    var sum=0.0;
                    var sum2=0.0;
                    var clean_values=[];
                    var clean_values2=[];
                    for(var i=0;i<data.length;i++){
                        widths.push(data[i].wide);
                        sum+=parseFloat(data[i].wide);
                        sum2+=parseFloat(data[i].lenght);
                        clean_values.push(data[i].wide);
                        clean_values2.push(data[i].lenght);
                        lengths.push(data[i].lenght);
                        gpstimes.push(data[i].GPStime);
                        dates.push(data[i].date);    
                    }

                    var chartdata={
                        labels:dates,
                        datasets:[
                        /*{
                                    label:"GPS time",
                                    fill: true,
                                    lineTension: 0.1,
                                    backgroundColor: "rgba(211, 72, 54, 0.75)",
                                    borderColor: "rgba(211, 72, 54, 1)",
                                    pointHoverBackgroundColor: "rgba(211, 72, 54, 1)",
                                    pointHoverBorderColor: "rgba(211, 72, 54, 1)",
                                    data: gpstimes
                                },*/
                                {
                                    label:"width",
                                    fill: false,
                                    lineTension: 0.1,
                                    backgroundColor: "rgba(59, 89, 152, 0.75)",
                                    borderColor: "rgba(59, 89, 152, 1)",
                                    pointHoverBackgroundColor: "rgba(59, 89, 152, 1)",
                                    pointHoverBorderColor: "rgba(59, 89, 152, 1)",
                                    data: widths
                                }
                                                           
                        ]
                    };
                    var chartdata2={
                        labels:dates,
                        datasets:[
                            {
                                    label:"length",
                                    fill: false,
                                    lineTension: 0.1,
                                    backgroundColor: "rgba(29, 202, 255, 0.75)",
                                    borderColor: "rgba(29, 202, 255, 1)",
                                    pointHoverBackgroundColor: "rgba(29, 202, 255, 1)",
                                    pointHoverBorderColor: "rgba(29, 202, 255, 1)",
                                    data: lengths
                                }
 
                            ]
                    };
                    var ctx = $("#mycanvas2");
                    var ctx2 = $("#mycanvas2b");
                    var LineGraph = new Chart(ctx, {
                        type: 'line',
                        data: chartdata
                    });
                    var LineGraph2=new Chart(ctx2, {
                        type:'line',
                        data: chartdata2
                    });

        }).fail(function(data){
                console.log("ERROR");
                console.log(data);
            });
        }

        function RemoteApiSensor3(){
        $.get('/api/local/sensor/3').done(function(data){
                    console.log(data);
                    var dates=[];
                    var values=[];
                    for(var i=0;i<data.length;i++){
                        values.push(data[i].value);
                        dates.push(data[i].date);    
                    }

                    var chartdata={
                        labels:dates,
                        datasets:[
                                {
                                    label:"Sensor 3",
                                    fill: false,
                                    lineTension: 0.1,
                                    backgroundColor: "rgba(29, 202, 255, 0.75)",
                                    borderColor: "rgba(29, 202, 255, 1)",
                                    pointHoverBackgroundColor: "rgba(29, 202, 255, 1)",
                                    pointHoverBorderColor: "rgba(29, 202, 255, 1)",
                                    data: values
                                }
                        ]
                    };
                    var ctx = $("#mycanvas3");

                    var LineGraph = new Chart(ctx, {
                        type: 'line',
                        data: chartdata
                    });

        }).fail(function(data){
                console.log("ERROR");
                console.log(data);
            });        
        }

        function RemoteApiSensor4(){
                            $.get('/api/local/sensor/4').done(function(data){
                    console.log(data);


                    var dates=[];
                    var xs=[];
                    var ys=[];
                    
                    for(var i=0;i<data.length;i++){
                        xs.push(data[i].x);
                        ys.push(data[i].y);
                        dates.push(data[i].date);    
                    }

                    var chartdata={
                        labels:dates,
                        datasets:[
                        {
                                    label:"X",
                                    fill: false,
                                    lineTension: 0.1,
                                    backgroundColor: "rgba(211, 72, 54, 0.75)",
                                    borderColor: "rgba(211, 72, 54, 1)",
                                    pointHoverBackgroundColor: "rgba(211, 72, 54, 1)",
                                    pointHoverBorderColor: "rgba(211, 72, 54, 1)",
                                    data: xs
                                }
                             
                        ]
                    };
                    var chartdata2={
                        labels:dates,
                        datasets:[
                                {
                                    label:"Y",
                                    fill: false,
                                    
                                    backgroundColor: "rgba(59, 89, 152, 0.75)",
                                    borderColor: "rgba(59, 89, 152, 1)",
                                    pointHoverBackgroundColor: "rgba(59, 89, 152, 1)",
                                    pointHoverBorderColor: "rgba(59, 89, 152, 1)",
                                    data: ys
                                }
                             
                        ]
                    };
                    var ctx = $("#mycanvas4");
                    var ctx2 = $("#mycanvas4b");
                    var LineGraph = new Chart(ctx, {
                        type: 'line',
                        data: chartdata
                    });
                    var LineGraph2 = new Chart(ctx2, {
                        type: 'line',
                        data: chartdata2
                    });                    
                    

        }).fail(function(data){
                console.log("ERROR");
                console.log(data);
            });

        }        


        var int1=setInterval(RemoteApiSensor1,1500);
        var int2=setInterval(RemoteApiSensor2,1500);
        var int3=setInterval(RemoteApiSensor3,1500); 
        var int4= setInterval(RemoteApiSensor4,1500);               

    });
        
    </script>
  </body>
</html>